.password-panel {
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 10px #dcdcdc;
    padding: 30px 20px;
}

.ui-corner-all {
    border-radius: 20px;
}

.ui-mobile label {
    display: block;
    margin: 8px 15px;
}

.ui-input-text {
    margin: .5em 0;
    border-width: 1px;
    border-style: solid;
    padding-left: 35px;
    margin-bottom: 28px;
}

.ui-input-text {
    margin:0;
}

.ui-page-theme-a .ui-btn.ui-btn-active {
    background-color: #ff7737;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    text-shadow: none;
}

.ui-page-theme-a .ui-btn {
    background-color: transparent;
    text-shadow: none;
    font-weight: normal;
    box-shadow: none;
}

.ui-page-theme-a .ui-focus {
    box-shadow: none;
}

input {
    height: 40px;
}

.input-row {
    margin-bottom: 25px;
}
.icon-user, .icon-passw, .icon-check {
    position: absolute;
    width: 21px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-user {
    background-image: url("../img/user_gray.png");
}

.icon-passw {
    background-image: url("../img/lock.png");
}

.icon-check {
    background-image: url("../img/check.png");
}

.check-image {
    float: right;
}

.page-return-icon {
    border: 0px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transform: rotate(45deg);
    width: 14px;
    height: 14px;
}